.eu {
    width: 15rem;
    border-radius: 10px;
    border: solid 12px black;
}

*{text-align: center;
list-style: none;
} 

.header__home {
    font-size: 2rem;
    color: whitesmoke;
    border: 30px solid transparent;
    font-size: 40px;
    background-color: rgb(105, 0, 0);
    border-image: url("./animated-borders-frame-red-color-footage-201580908_iconl.webp") 100 round;
}

.content {
    border: 5px solid black;
    
}